<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HidSharp" version="2.0.1" targetFramework="net461" />
  <package id="RGB.NET" version="0.0.1" targetFramework="net461" />
  <package id="RGB.NET.Asus" version="0.0.1" targetFramework="net461" />
  <package id="RGB.NET.Brushes" version="0.0.1.51" targetFramework="net461" />
  <package id="RGB.NET.CoolerMaster" version="0.0.1" targetFramework="net461" />
  <package id="RGB.NET.Core" version="0.0.1.51" targetFramework="net461" />
  <package id="RGB.NET.Corsair" version="0.0.1" targetFramework="net461" />
  <package id="RGB.NET.Decorators" version="0.0.1.51" targetFramework="net461" />
  <package id="RGB.NET.Devices" version="0.0.1" targetFramework="net461" />
  <package id="RGB.NET.Devices.Asus" version="0.0.1.51" targetFramework="net461" />
  <package id="RGB.NET.Devices.CoolerMaster" version="0.0.1.51" targetFramework="net461" />
  <package id="RGB.NET.Devices.Corsair" version="0.0.1.51" targetFramework="net461" />
  <package id="RGB.NET.Devices.DMX" version="0.0.1.51" targetFramework="net461" />
  <package id="RGB.NET.Devices.Logitech" version="0.0.1.51" targetFramework="net461" />
  <package id="RGB.NET.Devices.Novation" version="0.0.1.51" targetFramework="net461" />
  <package id="RGB.NET.Devices.Razer" version="0.0.1.51" targetFramework="net461" />
  <package id="RGB.NET.DMX" version="0.0.1" targetFramework="net461" />
  <package id="RGB.NET.Groups" version="0.0.1.51" targetFramework="net461" />
  <package id="RGB.NET.Logitech" version="0.0.1" targetFramework="net461" />
  <package id="RGB.NET.Novation" version="0.0.1" targetFramework="net461" />
  <package id="RGB.NET.Presets" version="0.0.1" targetFramework="net461" />
  <package id="RGB.NET.Razer" version="0.0.1" targetFramework="net461" />
  <package id="RGB.NET.Resources.Asus" version="0.1.0" targetFramework="net461" />
  <package id="RGB.NET.Resources.CoolerMaster" version="0.1.0" targetFramework="net461" />
  <package id="RGB.NET.Resources.Corsair" version="0.1.0" targetFramework="net461" />
  <package id="RGB.NET.Resources.Logitech" version="0.1.0" targetFramework="net461" />
  <package id="RGB.NET.Resources.Novation" version="0.1.0" targetFramework="net461" />
  <package id="RGB.NET.Resources.Razer" version="0.1.0" targetFramework="net461" />
  <package id="Sanford.Multimedia.Midi" version="6.6.0" targetFramework="net461" />
  <package id="Sanford.Multimedia.Midi.Standard" version="6.6.0" targetFramework="net461" />
  <package id="Stylet" version="1.1.21" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
</packages>