<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <Product Id="*" Name="Artemis" Language="1033" Version="1.11.3.0" Manufacturer="SpoinkyNL" UpgradeCode="ebc7bc50-0473-4729-8de8-32ddb99bb986">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <!-- Images -->
    <Icon Id="ProductIcon" SourceFile="logo.ico" />
    <WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="dialog.bmp" />

    <Property Id="ARPPRODUCTICON" Value="ProductIcon" />
    <Property Id="ARPHELPLINK" Value="https://github.com/SpoinkyNL/Artemis/wiki" />
    <Property Id="ARPURLINFOABOUT" Value="https://github.com/SpoinkyNL/Artemis" />
    <Property Id="ARPNOREPAIR" Value="1" />
    <Property Id="INSTALLFOLDER">
      <RegistrySearch Id="ArtemisRegistry" Type="raw" Root="HKLM" Key="Software\[Manufacturer]\[ProductName]" Name="InstallDir" />
    </Property>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    

    <Feature Id="ProductFeature" Title="Artemis" Level="1">
      <ComponentGroupRef Id="HeatGenerated" />
      <ComponentRef Id="InstallDirRegistry"/>
      <ComponentRef Id="ApplicationShortcuts" />
      
    </Feature>
    <UI Id='Mondo'>
      <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch Artemis" />
      <UIRef Id="WixUI_InstallDir" />

      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">
        WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed
      </Publish>

      <!-- Skip the license agreement don't have one anyway -->
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Order="3">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="3">1</Publish>
    </UI>
  </Product>

  <Fragment>
    <CustomAction Id="CloseApp" Return="ignore" Execute="deferred" Directory="TARGETDIR" Impersonate="no" ExeCommand="TASKKILL.EXE /F /IM Artemis.exe" />
    <CustomAction Id="TaskDelete" Return="ignore" Execute="deferred" Directory="TARGETDIR" Impersonate="no" ExeCommand="SCHTASKS.EXE /DELETE /TN Artemis /F" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="Artemis" />
        <!-- Retrieve install dir from registry -->
        <Component Id="InstallDirRegistry">
          <RegistryValue Root="HKLM" Key="Software\[Manufacturer]\[ProductName]" Name="InstallDir" Type="string" Value="[INSTALLFOLDER]" KeyPath="yes" />
        </Component>

      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuSubfolder" Name="Artemis">
          <Component Id="ApplicationShortcuts" Guid="b7465bd9-c8d7-4999-9695-8bbfd9306986">
            <Shortcut Id="ApplicationShortcut1" Name="Artemis" Description="Artemis" Target="[INSTALLFOLDER]Artemis.exe" WorkingDirectory="INSTALLFOLDER" />
            <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="installed" Type="integer" Value="1" KeyPath="yes" />
            <RemoveFolder Id="ProgramMenuSubfolder" On="uninstall" />
          </Component>
        </Directory>
      </Directory>
    </Directory>
    
    <!-- Optionally run Artemis after intallation -->
    <Property Id="WixShellExecTarget" Value="[INSTALLFOLDER]Artemis.exe" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

    <InstallExecuteSequence>
      <!-- Always close any running instances of Artemis -->
      <Custom Action="CloseApp" After="InstallInitialize" />
      <!--Remove task on Uninstall or Upgrade-->
      <Custom Action='TaskDelete' Before="InstallFinalize">REMOVE="ALL"</Custom>
    </InstallExecuteSequence>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
    </ComponentGroup>
  </Fragment>
</Wix>