<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="Castle.Core" version="4.2.0" targetFramework="net46" />
  <package id="HidSharp" version="1.5" targetFramework="net46" />
  <package id="Ninject" version="3.3.4" targetFramework="net46" />
  <package id="Ninject.Extensions.Conventions" version="3.3.0" targetFramework="net46" />
  <package id="Ninject.Extensions.Factory" version="3.3.2" targetFramework="net46" />
  <package id="RGB.NET" version="0.0.1.18" targetFramework="net46" />
  <package id="RGB.NET.Brushes" version="0.0.1.18" targetFramework="net46" />
  <package id="RGB.NET.Core" version="0.0.1.18" targetFramework="net46" />
  <package id="RGB.NET.Decorators" version="0.0.1.18" targetFramework="net46" />
  <package id="RGB.NET.Devices" version="0.0.1.18" targetFramework="net46" />
  <package id="RGB.NET.Devices.Asus" version="0.0.1.18" targetFramework="net46" />
  <package id="RGB.NET.Devices.CoolerMaster" version="0.0.1.18" targetFramework="net46" />
  <package id="RGB.NET.Devices.Corsair" version="0.0.1.18" targetFramework="net46" />
  <package id="RGB.NET.Devices.Logitech" version="0.0.1.18" targetFramework="net46" />
  <package id="RGB.NET.Devices.Msi" version="0.0.1.18" targetFramework="net46" />
  <package id="RGB.NET.Devices.Novation" version="0.0.1.18" targetFramework="net46" />
  <package id="RGB.NET.Devices.Razer" version="0.0.1.18" targetFramework="net46" />
  <package id="RGB.NET.Groups" version="0.0.1.18" targetFramework="net46" />
  <package id="RGB.NET.Presets" version="0.0.1.18" targetFramework="net46" />
  <package id="Sanford.Multimedia.Midi" version="6.4.1" targetFramework="net46" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net46" />
</packages>