<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Artemis.Settings.CounterStrike" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Artemis.Settings.VolumeDisplay" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Artemis.Settings.AudioVisualization"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Artemis.Settings.RocketLeague"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Artemis.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Artemis.Settings.TypeWave"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Artemis.Settings.General"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <Artemis.Settings.CounterStrike>
      <setting name="GameDirectory" serializeAs="String">
        <value>C:\Program Files (x86)\Steam\steamapps\common\Counter-Strike Global Offensive</value>
      </setting>
    </Artemis.Settings.CounterStrike>
    <Artemis.Settings.VolumeDisplay>
      <setting name="MainColor" serializeAs="String">
        <value>#FFFF2900</value>
      </setting>
      <setting name="SecondaryColor" serializeAs="String">
        <value>#FF26F600</value>
      </setting>
      <setting name="Enabled" serializeAs="String">
        <value>True</value>
      </setting>
    </Artemis.Settings.VolumeDisplay>
    <Artemis.Settings.AudioVisualization>
      <setting name="Sensitivity" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="Bars" serializeAs="String">
        <value>21</value>
      </setting>
      <setting name="Spread" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="FadeSpeed" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="MainColor" serializeAs="String">
        <value>#FF0000FF</value>
      </setting>
      <setting name="SecondaryColor" serializeAs="String">
        <value>#FF1E90FF</value>
      </setting>
    </Artemis.Settings.AudioVisualization>
    <Artemis.Settings.RocketLeague>
      <setting name="Enabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MainColor" serializeAs="String">
        <value>#FFFF5000</value>
      </setting>
      <setting name="SecondaryColor" serializeAs="String">
        <value>#FFFF0000</value>
      </setting>
    </Artemis.Settings.RocketLeague>
    <Artemis.Properties.Settings>
      <setting name="LastEffect" serializeAs="String">
        <value>TypeWave</value>
      </setting>
    </Artemis.Properties.Settings>
    <Artemis.Settings.TypeWave>
      <setting name="IsRandomColors" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WaveColor" serializeAs="String">
        <value>#FFFF0000</value>
      </setting>
      <setting name="IsShiftColors" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShiftColorSpeed" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="TimeToLive" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="SpreadSpeed" serializeAs="String">
        <value>4</value>
      </setting>
    </Artemis.Settings.TypeWave>
    <Artemis.Settings.General>
      <setting name="LastEffect" serializeAs="String">
        <value>TypeWave</value>
      </setting>
      <setting name="LastKeyboard" serializeAs="String">
        <value>Logitech G910 Orion Spark RGB</value>
      </setting>
    </Artemis.Settings.General>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>