<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Artemis.Modules.Games.TheDivision.TheDivision" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Artemis.Modules.Games.Dota2.Dota2" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Artemis.Modules.Overlays.VolumeDisplay.VolumeDisplay" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Artemis.Modules.Games.RocketLeague.RocketLeague" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Artemis.Settings.Offsets" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Artemis.Modules.Games.Witcher3.Witcher3" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Artemis.Modules.Effects.AudioVisualizer.AudioVisualization" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Artemis.Modules.Games.CounterStrike.CounterStrike" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Artemis.Settings.CounterStrike" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Artemis.Settings.AudioVisualization" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Artemis.Settings.RocketLeague" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Artemis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Artemis.Settings.TypeWave" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Artemis.Settings.General" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <Artemis.Modules.Games.TheDivision.TheDivision>
      <setting name="Enabled" serializeAs="String">
        <value>True</value>
      </setting>
    </Artemis.Modules.Games.TheDivision.TheDivision>
    <Artemis.Modules.Games.Dota2.Dota2>
      <setting name="Enabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GameDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="CanCastAbility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowHealth" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowDayCycle" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowMana" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowDead" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MainColor" serializeAs="String">
        <value>#FFFF0000</value>
      </setting>
      <setting name="ManaColor" serializeAs="String">
        <value>#FF0000FF</value>
      </setting>
      <setting name="KeyboardLayout" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="AbilityReadyColor" serializeAs="String">
        <value>#FF00FF00</value>
      </setting>
      <setting name="AbilityCooldownColor" serializeAs="String">
        <value>#FF6A5ACD</value>
      </setting>
    </Artemis.Modules.Games.Dota2.Dota2>
    <Artemis.Modules.Overlays.VolumeDisplay.VolumeDisplay>
      <setting name="Enabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MainColor" serializeAs="String">
        <value>#FFFF2900</value>
      </setting>
      <setting name="SecondaryColor" serializeAs="String">
        <value>#FF26F600</value>
      </setting>
    </Artemis.Modules.Overlays.VolumeDisplay.VolumeDisplay>
    <Artemis.Modules.Games.RocketLeague.RocketLeague>
      <setting name="Enabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MainColor" serializeAs="String">
        <value>#FFFF5000</value>
      </setting>
      <setting name="SecondaryColor" serializeAs="String">
        <value>#FFFF0000</value>
      </setting>
      <setting name="ContextualColor" serializeAs="String">
        <value>False</value>
      </setting>
    </Artemis.Modules.Games.RocketLeague.RocketLeague>
    <Artemis.Settings.Offsets>
      <setting name="RocketLeague" serializeAs="String">
        <value>{"Game":"RocketLeague","GameVersion":"1.10","GameAddresses":[{"Description":"Boost","BasePointer":{"value":21998084},"Offsets":[88,1452,1780,540]}]}</value>
      </setting>
      <setting name="Witcher3" serializeAs="String">
        <value>{"Game":"Witcher3","GameVersion":"1.11","GameAddresses":[{"Description":"Sign","BasePointer":{"value":42942304},"Offsets":[40,16,32,3008]}]}</value>
      </setting>
    </Artemis.Settings.Offsets>
    <Artemis.Modules.Games.Witcher3.Witcher3>
      <setting name="Enabled" serializeAs="String">
        <value>True</value>
      </setting>
    </Artemis.Modules.Games.Witcher3.Witcher3>
    <Artemis.Modules.Effects.AudioVisualizer.AudioVisualization>
      <setting name="Sensitivity" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="Bars" serializeAs="String">
        <value>21</value>
      </setting>
      <setting name="FromBottom" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FadeSpeed" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="TopColor" serializeAs="String">
        <value>#FFF90000</value>
      </setting>
      <setting name="MiddleColor" serializeAs="String">
        <value>#FFFF761E</value>
      </setting>
      <setting name="BottomColor" serializeAs="String">
        <value>#FF00DF00</value>
      </setting>
    </Artemis.Modules.Effects.AudioVisualizer.AudioVisualization>
    <Artemis.Modules.Games.CounterStrike.CounterStrike>
      <setting name="Enabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GameDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="AmmoEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AmmoMainColor" serializeAs="String">
        <value>#FFFF2900</value>
      </setting>
      <setting name="AmmoSecondaryColor" serializeAs="String">
        <value>#FF26F600</value>
      </setting>
      <setting name="TeamColorEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FlashEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SmokeEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LowHpEnabled" serializeAs="String">
        <value>True</value>
      </setting>
    </Artemis.Modules.Games.CounterStrike.CounterStrike>
    <Artemis.Settings.CounterStrike>
      <setting name="GameDirectory" serializeAs="String">
        <value>C:\Program Files (x86)\Steam\steamapps\common\Counter-Strike Global Offensive</value>
      </setting>
      <setting name="AmmoEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AmmoMainColor" serializeAs="String">
        <value>#FFFF2900</value>
      </setting>
      <setting name="AmmoSecondaryColor" serializeAs="String">
        <value>#FF26F600</value>
      </setting>
      <setting name="TeamColorEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FlashEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SmokeEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LowHpEnabled" serializeAs="String">
        <value>True</value>
      </setting>
    </Artemis.Settings.CounterStrike>
    <Artemis.Settings.AudioVisualization>
      <setting name="Sensitivity" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="Bars" serializeAs="String">
        <value>21</value>
      </setting>
      <setting name="Spread" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="FadeSpeed" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="MainColor" serializeAs="String">
        <value>#FF0000FF</value>
      </setting>
      <setting name="SecondaryColor" serializeAs="String">
        <value>#FF1E90FF</value>
      </setting>
    </Artemis.Settings.AudioVisualization>
    <Artemis.Settings.RocketLeague>
      <setting name="Enabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MainColor" serializeAs="String">
        <value>#FFFF5000</value>
      </setting>
      <setting name="SecondaryColor" serializeAs="String">
        <value>#FFFF0000</value>
      </setting>
    </Artemis.Settings.RocketLeague>
    <Artemis.Properties.Settings>
      <setting name="LastEffect" serializeAs="String">
        <value>TypeWave</value>
      </setting>
    </Artemis.Properties.Settings>
    <Artemis.Settings.TypeWave>
      <setting name="IsRandomColors" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WaveColor" serializeAs="String">
        <value>#FFFF0000</value>
      </setting>
      <setting name="IsShiftColors" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShiftColorSpeed" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="TimeToLive" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="SpreadSpeed" serializeAs="String">
        <value>4</value>
      </setting>
    </Artemis.Settings.TypeWave>
    <Artemis.Settings.General>
      <setting name="LastEffect" serializeAs="String">
        <value>TypeWave</value>
      </setting>
      <setting name="LastKeyboard" serializeAs="String">
        <value />
      </setting>
      <setting name="EnablePointersUpdate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GamestatePort" serializeAs="String">
        <value>51364</value>
      </setting>
      <setting name="Autorun" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Suspended" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowOnStartup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CheckForUpdates" serializeAs="String">
        <value>True</value>
      </setting>
    </Artemis.Settings.General>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Caliburn.Micro" publicKeyToken="8e5891231f2ed21f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Caliburn.Micro.Platform" publicKeyToken="8e5891231f2ed21f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpDX" publicKeyToken="b4dcf0f35e5521f1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.2.0" newVersion="3.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>