<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="3.0.1" targetFramework="net452" />
  <package id="Caliburn.Micro.Core" version="3.0.1" targetFramework="net452" />
  <package id="Colore" version="4.0.0" targetFramework="net452" />
  <package id="CUE.NET" version="1.0.2.2" targetFramework="net452" />
  <package id="Extended.Wpf.Toolkit" version="2.7" targetFramework="net452" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net452" />
  <package id="ImageLibrary" version="2.0.5" targetFramework="net452" />
  <package id="log4net" version="2.0.5" targetFramework="net452" />
  <package id="MahApps.Metro" version="1.2.4.0" targetFramework="net452" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net452" />
  <package id="NAudio" version="1.7.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net452" />
  <package id="NLog" version="4.3.3" targetFramework="net452" />
  <package id="NLog.Config" version="4.3.3" targetFramework="net452" />
  <package id="NLog.Schema" version="4.3.0" targetFramework="net452" />
  <package id="SharpDX" version="3.0.2" targetFramework="net452" />
  <package id="SharpDX.Direct3D11" version="3.0.2" targetFramework="net452" />
  <package id="SharpDX.DXGI" version="3.0.2" targetFramework="net452" />
  <package id="System.Linq.Dynamic" version="1.0.6" targetFramework="net452" />
  <package id="VirtualInput" version="1.0.1" targetFramework="net452" />
  <package id="WpfExceptionViewer" version="1.0.0.0" targetFramework="net452" />
</packages>