<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.1" targetFramework="net461" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net461" />
  <package id="Fody" version="2.4.2" targetFramework="net461" developmentDependency="true" />
  <package id="HidSharp" version="1.5" targetFramework="net461" />
  <package id="MahApps.Metro" version="1.6.0" targetFramework="net461" />
  <package id="MaterialDesignColors" version="1.1.3" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="2.3.1.953" targetFramework="net461" />
  <package id="MaterialDesignThemes.MahApps" version="0.0.11" targetFramework="net461" />
  <package id="Ninject" version="3.3.4" targetFramework="net461" />
  <package id="Ninject.Extensions.Conventions" version="3.3.0" targetFramework="net461" />
  <package id="Ninject.Extensions.Factory" version="3.3.2" targetFramework="net461" />
  <package id="PropertyChanged.Fody" version="2.2.6" targetFramework="net461" developmentDependency="true" />
  <package id="RGB.NET" version="0.0.1.38" targetFramework="net461" />
  <package id="RGB.NET.Brushes" version="0.0.1.38" targetFramework="net461" />
  <package id="RGB.NET.Core" version="0.0.1.38" targetFramework="net461" />
  <package id="RGB.NET.Decorators" version="0.0.1.38" targetFramework="net461" />
  <package id="RGB.NET.Devices" version="0.0.1.38" targetFramework="net461" />
  <package id="RGB.NET.Devices.Asus" version="0.0.1.38" targetFramework="net461" />
  <package id="RGB.NET.Devices.CoolerMaster" version="0.0.1.38" targetFramework="net461" />
  <package id="RGB.NET.Devices.Corsair" version="0.0.1.38" targetFramework="net461" />
  <package id="RGB.NET.Devices.DMX" version="0.0.1.38" targetFramework="net461" />
  <package id="RGB.NET.Devices.Logitech" version="0.0.1.38" targetFramework="net461" />
  <package id="RGB.NET.Devices.Msi" version="0.0.1.38" targetFramework="net461" />
  <package id="RGB.NET.Devices.Novation" version="0.0.1.38" targetFramework="net461" />
  <package id="RGB.NET.Devices.Razer" version="0.0.1.38" targetFramework="net461" />
  <package id="RGB.NET.Groups" version="0.0.1.38" targetFramework="net461" />
  <package id="RGB.NET.Input" version="0.0.1.38" targetFramework="net461" />
  <package id="RGB.NET.Input.Corsair" version="0.0.1.38" targetFramework="net461" />
  <package id="RGB.NET.Presets" version="0.0.1.38" targetFramework="net461" />
  <package id="Sanford.Multimedia.Midi" version="6.6.0" targetFramework="net461" />
  <package id="Stylet" version="1.1.21" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
</packages>