.sidefilter {
	width: 320px;
}

.sidetoc {
	width: 320px;
}

.article.grid-right {
	margin-left: 340px;
}

@media only screen and (max-width: 768px)
.article.grid-right {
    margin-left: 0;
}

@media (min-width: 1500px) {
.container {
    width: 1470px;
}
}